@import "../../node_modules/spice-sass/src/spice";

$splat-stops : (
	0% : "scale(30) rotate(50deg)",
	90% : "scale(0.9) rotate(-5deg)",
	100% : "scale(1) rotate(0deg)"
);

@include transformKeyframes('splat', $splat-stops, 'fadeIn');

img.splat {
	position: relative;
	z-index: 99999;
	@include animation('splat',$handbrake,0.3s);
}